<header>
    <div class="container header-container">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/LogoTransparent.svg" alt="Karmaloop AI Logo" class="logo">
        </a>
        <button class="mobile-menu-btn">
            <i class="fas fa-bars"></i>
        </button>
        <nav>
            <ul>
                <li><a href="{{ site.baseurl }}/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
                <li><a href="{{ site.baseurl }}/kai/" {% if page.url contains "kai" %}class="active"{% endif %}>Kai</a></li>
                <li><a href="{{ site.baseurl }}/contact/" {% if page.url contains "contact" %}class="active"{% endif %}>Contact</a></li>
                <li><a href="https://app.karmaloop.ai" class="button login" target="_blank">Login</a></li>
            </ul>
        </nav>
    </div>
</header>